h1
{
  color:#E6E6FA;
}

body{
  background-color: blue;
  font-family: 'Lato', sans-serif;
}


#heyMad
{
  margin-bottom: 300px;
}

.my-secondfavcolor{
  color:orange;
font-family: Arial, Helvetica, sans-serif;
}
